---
http_interactions:
- request:
    method: get
    uri: https://ads-api.twitter.com/0/bidding_rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YOi6DeIcMNGccGYVEErGhTOpb", oauth_nonce="CiCwhSckV6MI0j3dYQHDSUA338Tnrr2l7yV6bjySnGQ",
        oauth_signature="ZPA0VHDVuuYFaL7LnAy3R8qC10k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432627595", oauth_token="152397343-F2sSm9WuEcb7luVmppKrEXO4y6QDQzb6wkrxBgz0",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - d512b06b05b4fb354599ce21b9b14011
      X-Rate-Limit-Limit:
      - '400'
      X-Rate-Limit-Remaining:
      - '399'
      X-Rate-Limit-Reset:
      - '1432628496'
      X-Response-Time:
      - '10'
      X-Transaction:
      - 5db017d6e8d35745
    body:
      encoding: US-ASCII
      string: ! '{"data_type":"bidding_rule","data":[{"currency":"AED","minimum_cpe_bid_local_micro":40000,"maximum_cpe_bid_local_micro":4000000000,"minimum_denomination":10000},{"currency":"ALL","minimum_cpe_bid_local_micro":1200000,"maximum_cpe_bid_local_micro":120000000000,"minimum_denomination":10000},{"currency":"ARS","minimum_cpe_bid_local_micro":50000,"maximum_cpe_bid_local_micro":5000000000,"minimum_denomination":10000},{"currency":"AUD","minimum_cpe_bid_local_micro":10000,"maximum_cpe_bid_local_micro":1000000000,"minimum_denomination":10000},{"currency":"BAM","minimum_cpe_bid_local_micro":20000,"maximum_cpe_bid_local_micro":2000000000,"minimum_denominati[...]
