---
http_interactions:
- request:
    method: get
    uri: https://ads-api.twitter.com/0/accounts/p0r8d3/tailored_audience_changes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YOi6DeIcMNGccGYVEErGhTOpb", oauth_nonce="ZjRuZVflMFFRpdeblooh55UANIH7jqstoPDCXG29528",
        oauth_signature="riODRetm39MVJ9HuukyG5xgWsBU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432627596", oauth_token="152397343-F2sSm9WuEcb7luVmppKrEXO4y6QDQzb6wkrxBgz0",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - cd272dfdab33991983adb0a3724c2d8e
      X-Rate-Limit-Limit:
      - '2000'
      X-Rate-Limit-Remaining:
      - '1996'
      X-Rate-Limit-Reset:
      - '1432628482'
      X-Response-Time:
      - '27'
      X-Transaction:
      - cb570eee7fb7c829
    body:
      encoding: US-ASCII
      string: ! '{"request":{"params":{"account_id":"p0r8d3"}},"data":[{"input_file_path":"\/ta_partner\/2071231\/0RMNhLpRRneAym6","tailored_audience_id":"s6mx","state":"COMPLETED","id":"5gyv","operation":"ADD"},{"input_file_path":"\/ta_partner\/152397343\/NVmFg53IiWRx5uK","tailored_audience_id":"sd78","state":"COMPLETED","id":"66hp","operation":"ADD"},{"input_file_path":"\/ta_partner\/152397343\/p8DfZN00LzQ3pAN","tailored_audience_id":"sd78","state":"COMPLETED","id":"66i7","operation":"ADD"},{"input_file_path":"\/ta_partner\/152397343\/VPGMSoRem0X2kh-","tailored_audience_id":"sd78","state":"COMPLETED","id":"66i9","operation":"ADD"},{"input_file_path":"\/ta_partner\/152397343\/NVmFg53IiWRx5uK","t[...]
