---
http_interactions:
- request:
    method: get
    uri: https://ads-api.twitter.com/0/iab_categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YOi6DeIcMNGccGYVEErGhTOpb", oauth_nonce="uwAjFBKRwuXxSlidpYFuzbRZogxNurzYcm8aaAt6yD0",
        oauth_signature="%2B44jtZ9tYG8OQVmQqZSCzRSTvug%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432627591", oauth_token="152397343-F2sSm9WuEcb7luVmppKrEXO4y6QDQzb6wkrxBgz0",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 1faf7cce22feedeadf21a11b66de5b85
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1432628492'
      X-Response-Time:
      - '47'
      X-Transaction:
      - c51040957e7c6e86
    body:
      encoding: US-ASCII
      string: ! '{"request":{"params":{}},"data":[{"id":"IAB1","parent_id":null,"name":"Arts
        & Entertainment"},{"id":"IAB1-1","parent_id":"IAB1","name":"Books & Literature"},{"id":"IAB1-2","parent_id":"IAB1","name":"Celebrity
        Fan\/Gossip"},{"id":"IAB1-3","parent_id":"IAB1","name":"Fine Art"},{"id":"IAB1-4","parent_id":"IAB1","name":"Humor"},{"id":"IAB1-5","parent_id":"IAB1","name":"Movies"},{"id":"IAB1-6","parent_id":"IAB1","name":"Music"},{"id":"IAB1-7","parent_id":"IAB1","name":"Television"},{"id":"IAB2","parent_id":null,"name":"Automotive"},{"id":"IAB2-1","paren[...]
