---
http_interactions:
- request:
    method: get
    uri: https://ads-api.twitter.com/0/accounts/p0r8d3/tailored_audience_changes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YOi6DeIcMNGccGYVEErGhTOpb", oauth_nonce="P4cnfjnyLZJxVHYo9h09C5QecvtBBE7MdzWIP8aSryk",
        oauth_signature="hbouEbeTyaih9ZLhGQZ1mdZQnTw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432627593", oauth_token="152397343-F2sSm9WuEcb7luVmppKrEXO4y6QDQzb6wkrxBgz0",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 12b57b70703315b2b6caa82d0cb68ecb
      X-Rate-Limit-Limit:
      - '2000'
      X-Rate-Limit-Remaining:
      - '1998'
      X-Rate-Limit-Reset:
      - '1432628482'
      X-Response-Time:
      - '26'
      X-Transaction:
      - 89118e3712a1ef53
    body:
      encoding: US-ASCII
      string: ! '{"request":{"params":{"account_id":"p0r8d3"}},"data":[{"input_file_path":"\/ta_partner\/2071231\/0RMNhLpRRneAym6","tailored_audience_id":"s6mx","state":"COMPLETED","id":"5gyv","operation":"ADD"},{"input_file_path":"\/ta_partner\/152397343\/NVmFg53IiWRx5uK","tailored_audience_id":"sd78","state":"COMPLETED","id":"66hp","operation":"ADD"},{"input_file_path":"\/ta_partner\/152397343\/p8DfZN00LzQ3pAN","tailored_audience_id":"sd78","state":"COMPLETED","id":"66i7","operation":"ADD"},{"input_file_path":"\/ta_partner\/152397343\/VPGMSoRem0X2kh-","tailored_audience_id":"sd78","state":"COMPLETED","id":"66i9","operation":"ADD"},{"input_file_path":"\/ta_partner\/152397343\/NVmFg53IiWRx5uK","t[...]
- request:
    method: get
    uri: https://ads-api.twitter.com/0/accounts/p0r8d3/tailored_audience_changes/5gyv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YOi6DeIcMNGccGYVEErGhTOpb", oauth_nonce="VabtaqYWwrvM6eJHEoCzi30hpL6siOxTyaxEPkvmI9I",
        oauth_signature="UzKPLIetbwwpJ1Qh%2BDZZoEzO%2BfY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432627594", oauth_token="152397343-F2sSm9WuEcb7luVmppKrEXO4y6QDQzb6wkrxBgz0",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 65255d25fc43699bdbcf2918bb3bdde1
      X-Rate-Limit-Limit:
      - '2000'
      X-Rate-Limit-Remaining:
      - '1997'
      X-Rate-Limit-Reset:
      - '1432628482'
      X-Response-Time:
      - '25'
      X-Transaction:
      - 6717cad7630857c2
    body:
      encoding: US-ASCII
      string: ! '{"data_type":"tailored_audience_change","data":{"input_file_path":"\/ta_partner\/2071231\/0RMNhLpRRneAym6","tailored_audience_id":"s6mx","state":"COMPLETED","id":"5gyv","operation":"ADD"},"request":{"params":{"tailored_audience_change_id":"5gyv","account_id":"p0r8d3"}}}'
  recorded_at: Tue, 26 May 2015 08:06:35 GMT
recorded_with: VCR 2.9.3
