---
http_interactions:
- request:
    method: post
    uri: https://ads-api.twitter.com/0/accounts/p0r8d3/tailored_audiences
    body:
      encoding: US-ASCII
      string: list_type=TWITTER_ID&name=Fake%20Creation
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="YOi6DeIcMNGccGYVEErGhTOpb", oauth_nonce="08NxJ8P1Ych8j3Q2eZzT6YUZsVmhpPaN2MeXSsTcA",
        oauth_signature="Z4d2ps2H7l7wmCM6qgfzY8tOy1U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432627586", oauth_token="152397343-F2sSm9WuEcb7luVmppKrEXO4y6QDQzb6wkrxBgz0",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 27eac36d834fbf753a9aba8c44cbb5e8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1432627647'
      X-Response-Time:
      - '114'
      X-Transaction:
      - 0ad8db13e55fb320
      X-Tsa-Request-Body-Time:
      - '265'
    body:
      encoding: US-ASCII
      string: ! '{"data_type":"tailored_audiences","data":{"targetable":false,"name":"Fake
        Creation","targetable_types":["CRM","EXCLUDED_CRM"],"audience_type":"CRM","id":"seia","reasons_not_targetable":["PROCESSING","TOO_SMALL"],"list_type":"TWITTER_ID","created_at":"2015-05-26T06:39:40Z","updated_at":"2015-05-26T06:39:40Z","partner_source":"OTHER","deleted":false,"audience_size":null},"request":{"params":{"account_id":"p0r8d3","name":"Fake
        Creation","list_type":"TWITTER_ID"}}}'
  recorded_at: Tue, 26 May 2015 08:06:28 GMT
- request:
    method: get
    uri: https://ads-api.twitter.com/0/accounts/p0r8d3/tailored_audience_changes/seia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YOi6DeIcMNGccGYVEErGhTOpb", oauth_nonce="BydkihvZiOZSnAlJod3IKzUDmVvS1PjXv0oNFd4PpE",
        oauth_signature="b4X4SadREC4ifMpnqpHqMcwtWC8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432627588", oauth_token="152397343-F2sSm9WuEcb7luVmppKrEXO4y6QDQzb6wkrxBgz0",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 9bb6ba06d0d37b9fad3a157c5f7ac036
      X-Rate-Limit-Limit:
      - '2000'
      X-Rate-Limit-Remaining:
      - '1999'
      X-Rate-Limit-Reset:
      - '1432628489'
      X-Response-Time:
      - '30'
      X-Transaction:
      - 4397208bf911ed67
    body:
      encoding: US-ASCII
      string: ! '{"errors":[{"code":"TAILORED_AUDIENCE_CHANGE_FILE_NOT_FOUND","message":"Tailored
        Audience Change File seia was not found for Account p0r8d3"}],"request":{"params":{"tailored_audience_change_id":"seia","account_id":"p0r8d3"}}}'
  recorded_at: Tue, 26 May 2015 08:06:29 GMT
- request:
    method: delete
    uri: https://ads-api.twitter.com/0/accounts/p0r8d3/tailored_audiences/seia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YOi6DeIcMNGccGYVEErGhTOpb", oauth_nonce="nSbjLlK9Xnp4LCYgUevopnJ4jLxrya2e8Y7WEOd8",
        oauth_signature="Y3C%2B6D03nNeB2uJqC%2FkxSRwiD8c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432627589", oauth_token="152397343-F2sSm9WuEcb7luVmppKrEXO4y6QD[...]
