---
http_interactions:
- request:
    method: get
    uri: https://ads-api.twitter.com/0/accounts/p0r8d3/targeting_criteria
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YOi6DeIcMNGccGYVEErGhTOpb", oauth_nonce="5IoDeZTstgETFNCaQ4TgBqeVTvUWpZMhuzljW7EiJ8c",
        oauth_signature="ITxKZJYf%2FzKn8UXrQpBQkB9vklM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432627582", oauth_token="152397343-F2sSm9WuEcb7luVmppKrEXO4y6QDQzb6wkrxBgz0",
        oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - dd3140cf8a152963b9680c27a87c15e5
      X-Rate-Limit-Limit:
      - '2000'
      X-Rate-Limit-Remaining:
      - '1999'
      X-Rate-Limit-Reset:
      - '1432628483'
      X-Response-Time:
      - '23'
      X-Transaction:
      - a549282ee8b9a46b
    body:
      encoding: US-ASCII
      string: ! '{"errors":[{"code":"MISSING_PARAMETER","message":"\"line_item_id\"
        is a required parameter","parameter":"line_item_id"}],"request":{"params":{"account_id":"p0r8d3"}}}'
  recorded_at: Tue, 26 May 2015 08:06:24 GMT
recorded_with: VCR 2.9.3
